<%= form_for @list, html:  { multipart:  true } do |f| %>
  <% if @list.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
      </button>
      <h4><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h4>
      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :remote_image_url , "你的圖片上傳網址" %><br>
    <%= f.text_field :remote_image_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit  class: "btn btn-info"%>
  </div>
<% end %>
