<p id="notice"><%= notice %></p>
  <div id="list">
    <div class="jumbotron">
      <h1>測試用表單</h1>
          <div class="row">
            <% @lists.each do |list| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag list.image.url.to_s %>
                <div class="caption">
                  <h3><%= list.name %></h3>
                  <p><%= list.description %></p>
                  <p><%= number_to_currency (list.price) %></p>
                  <%= link_to 'Show', list, class: "btn btn-link" %>
                  <%= link_to 'Edit', edit_list_path(list), class: "btn btn-link" %>
                  <%= link_to 'Destroy', list, class: "btn btn-link" , method: :delete, data: { confirm: '你確定要刪除嗎？' } %>
                </div>
              </div>
            </div>
            <% end %>
          </div> 
  

            
         
      </div>
      
      

      <br>

      <%= link_to 'New List', new_list_path, class: "btn btn-info" %>
    </div>
 </div>